body{
      background: #e2e1e0;
    margin: 2%;
}
.content{
    font-family: "Carter One";
    letter-spacing: 1px;
}

#items{
    width: 100%;
    height: auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin-bottom: 20px;
}

@media(max-width:600px){
    .content h1{
        font-size: 1.5em;
        transition-delay: 5ms;
    }
}
